{% extends "base/base.html" %}
{% block content %}
<h2>Expenses</h2>

<p><a class="btn" href="{% url 'expenses:expense_create' %}">Submit Expense</a></p>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Status</th>
      <th>By</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for e in expenses %}
      <tr>
        <td>{{ e.expense_date }}</td>
        <td>{{ e.category }}</td>
        <td>{{ e.amount }}</td>
        <td><span class="badge">{{ e.status }}</span></td>
        <td>{{ e.created_by.username }}</td>
        <td>
          {% if user.role == "ADMIN" and e.status == "SUBMITTED" %}
            <a class="btn" href="{% url 'expenses:expense_approve' e.id %}">Approve/Reject</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="6">No expenses yet.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
